---
layout: default
---
<article>
    <header>
    <h1><a href="{{ autore.url }}" style="color:#750C41;">{{ page.title }}</a></h1>
    </header>
<p>
Hemos aplicado un sistema de categorías para clasificar los términos recogidos en los glosarios. 
Tomamos como referencia la cuarta acepción del <i>Diccionario de la Real Academia Española</i>, 
que define categoría como “cada una de las clases o divisiones establecidas al clasificar algo”, 
ofreciendo como sinónimos: clase, especie, tipo, grupo, género u orden. 
Consideramos que esta categorización resulta de gran utilidad para el investigador, 
ya que facilita el manejo y la consulta de los textos del siglo XVI. 
A lo largo del proceso, hemos ido incorporando nuevas categorías de manera dinámica, 
atendiendo a las necesidades detectadas, con el objetivo de sentar unas bases sólidas que sirvan de apoyo a futuras investigaciones derivadas de nuestro estudio.
</p>

    {% if page.data %}
	
<div id="palabras">
	    
      {% assign rows = site.data[page.data] %}

      {% capture unique_word_string %}{% for row in rows %}{% capture current_word %}{{ row.Palabra }}{% endcapture %}{% if current_word == saved_word %}{% else %}{{ row.Palabra }},{% endif %}{% capture saved_word %}{{ current_word }}{% endcapture %}{% endfor %}{% endcapture %}

      {% assign unique_word_array = unique_word_string | split: ","%}
      <nav class="local" id="autores">
      {% for word in unique_word_array %}
      <a href="#{{ word | downcase }}">{{ word }}</a>
	      </br>
      {% endfor %}
      </nav>
</div>

	</br>

<div id="tables">
      {% for word in unique_word_array %}
	<section id="{{ word | downcase }}">		
        <h2>{{ word }}</h2>
		
</br>
	
	<table>
          <thead>
            <tr>
              <th>Palabra</th>
            </tr>
          </thead>
          <tbody>
          {% for row in rows %}
          {% if row.Palabra == word %}
            <tr>
              <td><a href="{{ row.web }}">{{ row.cita }}</a></td>    
            </tr>
          {% endif %}
          {% endfor %}
      </tbody>
    </table>
   
		
    </section>
    {% endfor %}
    
</div>
	
    {% endif %}

	
</article>


