---
layout: default
---
<article>
    {% if page.title != 'Home' %}
    <h1>{{ page.title }}</h1>
    {% endif %}
    {{ content }}

<p>
Hemos aplicado un sistema de categorías para clasificar los términos recogidos en los glosarios. 
Tomamos como referencia la cuarta acepción del <i>Diccionario de la Real Academia Española</i>, 
que define categoría como “cada una de las clases o divisiones establecidas al clasificar algo”, 
ofreciendo como sinónimos: clase, especie, tipo, grupo, género u orden. 
Consideramos que esta categorización resulta de gran utilidad para el investigador, 
ya que facilita el manejo y la consulta de los textos del siglo XVI. 
A lo largo del proceso, hemos ido incorporando nuevas categorías de manera dinámica, 
atendiendo a las necesidades detectadas, con el objetivo de sentar unas bases sólidas que sirvan de apoyo a futuras investigaciones derivadas de nuestro estudio.
</p>
    
</article>
